# Ignore environment variables
.env

# Ignore Python bytecode
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore virtual environments
venv/
env/
.venv/

# Ignore Streamlit cache
.streamlit/

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore system files (macOS, Windows, Linux)
.DS_Store
Thumbs.db
